#title {
  color: rgb(0, 91, 248);
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  display: grid;
  width: 300px;
  height: 300px;
  outline: 1px solid black;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr); 
}

.grid-item {
  border: 1px solid black;
}

.hover {
  background: blue;
}